<!-- header-section-starts -->
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="index.html"><img src="~/Content/images/logo.png" alt="" /></a>
        </div>
        <div class="tollfree">
            <ul>
                <li><i class="phone"></i></li>
                <li>
                    <p class="call">联系我们 :</p>
                    <p>1-009-123-1234</p>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="navigation">
            <div class="navigation-bar">
                <div class="search2">
                    <form>
                        <input type="text" value="搜索.." onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = '搜索..'; }" />
                        <input type="submit" value="">
                    </form>
                </div>
                <span class="menu"></span>
                <div class="top-menu">
                    <ul>
                        <li>@Html.ActionLink("首页", "Index", "TheFirst" )</li>
                        <li>@Html.ActionLink("关于", "Index", "About")</li>
                        <li>@Html.ActionLink("产品", "Index", "Products")</li>
                        <li>@Html.ActionLink("新闻", "Index", "News")</li>
                        <li>@Html.ActionLink("联系我们", "Index", "Contact")</li>
                        
                        @*<li><a class="active" href="Index">首页</a></li>
                        <li><a href="About">关于</a></li>
                        <li><a href="products.html">产品</a></li>
                        <li><a href="404.html">新闻</a></li>
                        <li><a href="contact.html">联系我们</a></li>*@
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <!-- script for menu -->
                <script>
                    $("span.menu").click(function () {
                        $(".top-menu").slideToggle("slow", function () {
                            // Animation complete.
                        });
                    });
                </script>
                <!-- script for menu -->
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!-- header-section-ends -->
<script type="text/javascript">
    $(document).ready(function () {
        $("a").click(function () {
            $(this).attr("style", "background='#272e34'");
        })
    })
</script>